.swal-button {  
    padding: 7px 19px;  
    border-radius: 2px;  
    background-color: black;  
    font-size: 12px;  
    color: white;
    border: none;  
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);  
  } 